In [16]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tyukhtet,RU,2021-11-27 22:28:00,56.5389,89.3011,20.30,91,100,16.78
1,1,Tarakan,ID,2021-11-27 22:28:00,3.3000,117.6333,77.45,88,100,8.19
2,2,Camacha,PT,2021-11-27 22:28:00,33.0833,-16.3333,59.76,82,40,14.97
3,3,Severo-Kurilsk,RU,2021-11-27 22:25:33,50.6789,156.1250,28.47,65,77,28.45
4,4,Goderich,CA,2021-11-27 22:28:00,43.7501,-81.7165,28.72,86,100,6.91

In [18]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Tarakan,ID,2021-11-27 22:28:00,3.3000,117.6333,77.45,88,100,8.19
5,5,Vaini,TO,2021-11-27 22:28:01,-21.2000,-175.2000,84.36,84,75,8.05
10,10,Martapura,ID,2021-11-27 22:28:02,-3.4167,114.8500,75.29,100,75,2.30
12,12,Georgetown,MY,2021-11-27 22:28:02,5.4112,100.3354,76.95,94,20,2.30
20,20,Karratha,AU,2021-11-27 22:28:04,-20.7377,116.8463,84.16,27,5,15.99
24,24,Sumbe,AO,2021-11-27 22:28:05,-11.2061,13.8437,75.96,82,100,3.15
27,27,Presidente Medici,BR,2021-11-27 22:28:06,-11.1753,-61.9014,79.52,86,74,4.16
28,28,Tual,ID,2021-11-27 22:28:06,-5.6667,132.7500,82.72,72,99,3.85
30,30,Rikitea,PF,2021-11-27 22:23:07,-23.1203,-134.9692,75.79,79,11,15.21
32,32,Puerto Ayora,EC,2021-11-27 22:28:07,-0.7393,-90.3518,75.16,75,77,10.58

In [40]:
preferred_cities_df.count()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1             Tarakan      ID     77.45   3.3000  117.6333
5               Vaini      TO     84.36 -21.2000 -175.2000
10          Martapura      ID     75.29  -3.4167  114.8500
12         Georgetown      MY     76.95   5.4112  100.3354
20           Karratha      AU     84.16 -20.7377  116.8463
24              Sumbe      AO     75.96 -11.2061   13.8437
27  Presidente Medici      BR     79.52 -11.1753  -61.9014
28               Tual      ID     82.72  -5.6667  132.7500
30            Rikitea      PF     75.79 -23.1203 -134.9692
32       Puerto Ayora      EC     75.16  -0.7393  -90.3518

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Tarakan,ID,77.45,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
5,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
10,Martapura,ID,75.29,-3.4167,114.8500,Montana Hotel Syariah
12,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
20,Karratha,AU,84.16,-20.7377,116.8463,ibis Styles Karratha
24,Sumbe,AO,75.96,-11.2061,13.8437,Hotel Ritz Sumbe
27,Presidente Medici,BR,79.52,-11.1753,-61.9014,Oliveira Palace Hotel
28,Tual,ID,82.72,-5.6667,132.7500,Grand Vilia Hotel
30,Rikitea,PF,75.79,-23.1203,-134.9692,People ThankYou
32,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))